@charset "UTF-8";
.theme-fire .form-and-links-container.col-sm-8.col-sm-offset-2 {
	border-top: 25px;
	width: auto;
	align-content: center;
	align-self: center;
}

.form-and-links-container {
	padding-left: 25%;
	padding-right: 25%;
}
.theme-fire #contact form {
}
.table {
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	padding: 5px;
	height: 60px;
	position: relative;
	z-index: auto;
}
