/*
        Page
==================================================================================================*/

html {
    display: table;
    width: 100%;
    height: 100%;
}

body {
    display:flex:
    margin: 0;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.66);
	background: #4D4646 50% 50% no-repeat;
	background-size: cover;
}





/*
        Background
==================================================================================================*/

.background-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/* Hide background in old Opera because of lags */
noindex:-o-prefocus, .background-container {
    display: none;
}

.background-vignette,
.background-noise {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
}

.background-vignette {
    background-image: -webkit-radial-gradient(rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.8) 100%);
    background-image: radial-gradient(rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.8) 100%);

    /* IE9 workaround */
    -webkit-box-shadow: inset 0 0 600px #000 \9;
    box-shadow: inset 0 0 600px #000 \9;
}

.background-noise {
    background: url(data:image/png;
}





/*
        Links
==================================================================================================*/

a {
    color: #32a7d3;
}

a:hover,
a:focus {
    color: #2588ad;
}





/*
        Layout
==================================================================================================*/

.content {
	padding-top: 5px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 40px;
	position: relative;
}





/*
        Text content
==================================================================================================*/

.header {
	margin-bottom: 5px;
	font-size: 100%;
	line-height: 302.2;
	font-weight: 400;
	font-family: poiret-one;
	font-style: normal;
}

.description {
    margin-bottom: 60px;
}





/*
 
        Form and links container
==================================================================================================*/

.form-and-links-container {
    padding-top: 25px
	padding-bottom: 25px;
    overflow: hidden;
}





/*
        Subscription form
==================================================================================================*/

.subscription-form {
	margin: 0;
	padding-top: auto;
	padding-left: auto;
	position: relative;
	background: rgba(0, 0, 0, 0.5);
}



/*      Email field
----------------------------------------------------------*/

.subscription-form-email {
	width: 83px;
	height: 50px;
	padding: 12px 12px;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: top;
	font-size: 20px;
	line-height: 1.4;
	font-family: inherit;
	font-weight: inherit;
	color: #222;
	text-shadow: none;
	background: #fff;
	border: 0;
	border-radius: 0;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.subscription-form-email:focus {
    padding: 0 12px 0 9px;
    color: #222;
    border-width: 3px 0 3px 3px;
    border-style: solid;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.subscription-form-email:invalid:focus:invalid {
    box-shadow: none;
}

/* IE8 hack for vertical text aligning in the email field */
@media \0screen {
    .subscription-form-email {
        padding-top: 11px;
    }

    .subscription-form-email:focus {
        padding-top: 8px;
    }
}

/* Placeholder */
::-webkit-input-placeholder {
    color: #777;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #777;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #777;
}

:-ms-input-placeholder {
    color: #777;
}



/*      Button
----------------------------------------------------------*/

.subscription-form-submit {
    height: 50px;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    font-size: 20px;
    font-family: inherit;
    font-weight: inherit;
    color: #fff;
    text-shadow: none;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
    -webkit-transition: 0.15s;
    -moz-transition: 0.15s;
    transition: 0.15s;
}

.subscription-form-submit:hover,
.subscription-form-submit:focus,
.subscription-form-submit:active,
.subscription-form-submit:focus:active {
    color: #fff;
    outline: none;
}

.subscription-form-submit {
    width: 120px;
    margin-left: 0 !important;
}



/*      Tooltip
----------------------------------------------------------*/

.subscription-form-tooltip {
    margin: -5px 0 0;
    padding: 8px 15px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 120%;
    left: 50%;
    z-index: 1;
    text-shadow: none;
    opacity: 0;
    white-space: nowrap;
}

.subscription-form-tooltip:before {
    content: '';
    margin: -8px 0 0 -8px;
    position: absolute;
    left: 50%;
    top: 0;
    border: solid transparent;
    border-width: 0 8px 8px;
}

.subscription-form-tooltip.error {
    color: #fff;
    background: #d44032;
}

.subscription-form-tooltip.error:before {
    border-bottom-color: #d44032;
}

.subscription-form-tooltip.success {
    color: #fff;
    background: #00b159;
}

.subscription-form-tooltip.success:before {
    border-bottom-color: #00b159;
}





/*
        Social links
==================================================================================================*/

[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0;
    vertical-align: middle;
    line-height: 1;
    background: transparent;
}

.social-links {
    margin-top: 50px;
    font-size: 0;
}

.social-links > a {
    width: 50px;
    height: 50px;
    margin: 6px;
    font-size: 28px;
    line-height: 54px;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
}

.social-links > a:hover,
.social-links > a:focus {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}





/*
        Responsiveness
==================================================================================================*/

@media (max-width: 1200px) {
    /* Hide background on small devices */
    .background-container {
        display: none;
    }
}

@media (max-width: 979px) {
    .header {
        font-size: 64px;
    }

    .countdown {
        padding: 20px 0 25px;
    }

    .countdown-number {
        font-size: 96px;
    }

    .subscription-form-email {
        width: 306px;
    }
}


@media (max-width: 767px) {
    body {
        padding: 20px;
    }

    body,
    .subscription-form-email,
    .subscription-form-submit {
        font-size: 18px;
    }

    .header {
        font-size: 56px;
    }

    .countdown-item {
        width: 50%;
        margin: 20px 0;
        float: left;
    }

    .countdown-number {
        font-size: 80px;
    }

    .countdown-label {
        margin-top: 5px;
    }

    .subscription-form {
		align-self:center;
		
    }

    .subscription-form-email {
        width: 310px;
        height: 40px;
        padding: 0 8px;

        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .subscription-form-email:focus {
        padding: 0 8px 0 5px;
    }

    .subscription-form-submit {
        width: 100px;
        height: 40px;
    }

    .subscription-form-tooltip {
        margin-top: -25px;
        padding: 4px 10px;
        white-space: normal;
    }

    .social-links > a {
        width: 40px;
        height: 40px;
        font-size: 24px;
        line-height: 42px;
    }
}

@media (max-width: 550px) {
    .subscription-form,
    .subscription-form .input-group,
    .subscription-form .subscription-form-email,
    .subscription-form .input-group-btn {
        display: block;
        float: none;

        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .subscription-form .input-group-btn,
    .subscription-form .subscription-form-submit {
        width: 100%;
    }

    .subscription-form .subscription-form-email {
        margin-bottom: 15px;
    }

    .subscription-form .subscription-form-email:focus {
        border-right-width: 3px;
    }
}





/*
        Themes
==================================================================================================*/

/*      Fire
----------------------------------------------------------*/

.theme-fire {
    background-image: url("../fire.shader-bg.jpg");
}

.theme-fire .subscription-form-email:focus {
	border-color: #d44032;
	/* [disabled]border-width: thin; */
}

.theme-fire .subscription-form-submit {
    background: #d44032;
}

.theme-fire .subscription-form-submit:hover,
.theme-fire .subscription-form-submit:focus {
    background: #c33629;
}

.theme-fire .subscription-form-submit:active {
	background: #a62e23;
	color: #E54345;
}

.theme-fire .social-links > a:hover,
.theme-fire .social-links > a:focus {
    background: #d44032;
}
