@charset "utf-8";
	.NormalCharacterStyle
{
	font-family : MinionPro Regular;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle4
{
	font-family : Helvetica;
	font-size : 9px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle7
{
	font-family : Helvetica;
	font-weight : bold;
	font-size : 11px;
	color : #009FC1;
	color : rgb(0, 159, 193);
}
.NormalCharacterStyle5
{
	font-family : Helvetica;
	font-size : 10px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle6
{
	font-family : Helvetica;
	font-size : 10px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle3
{
	font-family : Helvetica;
	font-size : 8px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle2
{
	font-family : Helvetica;
	font-size : 9px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle1
{
	font-family : Helvetica;
	font-size : 9px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
